pmfudtd/pmfu.dtd


<!-- ============================================================= -->
<!--                    MODULES OF MODULES INVOKED                 -->
<!-- ============================================================= -->


<!--                    MODULE TO NAME DTD-SPECIFIC MODULES        -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % bookcustom-modules.ent 
                        PUBLIC
"-//NLM//DTD BITS Book Interchange DTD-Specific Modules v1.0 20131225//EN"
"BITS-bookcustom-modules1.ent"                                       >
%bookcustom-modules.ent;


<!--                    MODULE TO NAME THE MATHML 3.0 MODULES      -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % mathml3-modules.ent
                        PUBLIC
"-//NLM//DTD JATS (Z39.96) JATS MathML 3.0 Modules v1.1d1 20130915//EN"
"JATS-mathml3-modules1.ent"                                          >
%mathml3-modules.ent;


<!--                    MODULE TO NAME THE NISO JATS MODULES       -->
<!--                    Declares all the external modules that are
                        part of the modular ANSI/NISO JATS Z39.96 DTD 
                        library. 
                           Since this module declares but does not
                        invoke modules, this DTD then invokes any
                        modules it uses by referencing the external
                        Parameter Entities defined in this JATS
                        Module of Modules.                         -->
<!ENTITY % modules.ent  PUBLIC
"-//NLM//DTD JATS (Z39.96) JATS DTD Suite Module of Modules v1.1d1 20130915//EN"
"JATS-modules1.ent"                                                  >
%modules.ent;
                                                            

<!-- ============================================================= -->
<!--                    SET UP XINCLUDE PROCESSING                 -->
<!-- ============================================================= -->

<!--                    XINCLUDE MODULE                            -->
<!--                    Set up the namespace and elements for using
                        <xi:xinclude> to manage books and book parts.
                                                                   -->
%xinclude.ent;
                                                            

<!-- ============================================================= -->
<!--                    SET UP COMMON (ALL ELEMENT) ATTRIBUTES     -->
<!-- ============================================================= -->


<!--                    JATS COMMON ATTRIBUTES                     -->
<!--                    Set up the common attributes, those used on
                        nearly all elements.
                        Must be called before the custom models
                        module.                                    -->
%JATS-common-atts.ent;


<!-- ============================================================= -->
<!--                    CUSTOMIZATION MODULES INVOKED              -->
<!--                    Note: These modules must be called after   -->
<!--                    all Module of Modules but before any other -->
<!--                    modules. Unlike any other grouping, order  -->
<!--                    of these modules matters.                  -->
<!-- ============================================================= -->


<!--                    DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE   -->
<!--                    Names the module that holds the DTD-specific
                        class definitions for the BITS Book 
                        Interchange DTD that over-ride the defaults 
                        of either the BITS or the NISO JATS.
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-classes.ent;


<!--                    DEFAULT ELEMENT CLASSES MODULE             -->
<!--                    Names the module that holds the standard
                        class definitions for the JATS DTD Library.-->
%default-classes.ent;


<!--                    DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE     -->
<!--                    Names the module that holds the DTD-specific
                        mix definitions for the BITS Book 
                        Interchange DTD that over-ride the defaults 
                        of either the BITS or the NISO JATS.
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-mixes.ent;


<!--                    DEFAULT MIX CUSTOMIZATIONS MODULE          -->
<!--                    Names the module that holds the standard
                        mix definitions for the JATS DTD Library.  -->
%default-mixes.ent;


<!--                    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS
                        MODULE                                     -->
<!--                    Names the module that holds the DTD-specific
                        overrides of content models, attribute lists, 
                        and elements lists for the BITS Book 
                        Interchange DTD that over-ride the defaults 
                        of either the BITS or the NISO JATS.
                        (Defined in %bookcustom-modules.ent; )     -->
%bookcustom-models.ent;


<!-- ============================================================= -->
<!--                    ANSI/NISO JATS COMMON (SHARED) ELEMENTS    -->
<!-- ============================================================= -->


<!--                    COMMON (SHARED) DECLARATIONS               -->
<!--                    Declarations for elements, attributes,
                        entities, and Notations that are shared by
                        more than one class module. Note: Must be
                        called before any of the class modules.    -->

%common.ent;


<!-- ============================================================= -->
<!--                    ANSI/NISO JATS CLASS ELEMENTS (alpha)      -->
<!-- ============================================================= -->

<!--                    ARTICLE METADATA ELEMENTS                  -->
%articlemeta.ent;


<!--                    BACK MATTER ELEMENTS                       -->
%backmatter.ent;


<!--                    DISPLAY (GRAPHICAL) ELEMENTS               -->
%display.ent;


<!--                    FORMATTING ELEMENT CLASSES                 -->
<!--                    Elements that change rendition/display.    -->
%format.ent;


<!--                    FUNDING ELEMENTS                           -->
<!--                    Elements that describe the sponsorship or
                        open access                                -->
%funding.ent;


<!--                    JOURNAL METADATA ELEMENTS                  -->
%journalmeta.ent;


<!--                    LINK CLASS ELEMENTS                        -->
%link.ent;


<!--                    LIST CLASS ELEMENTS                        -->
%list.ent;


<!--                    MATH ELEMENTS                              -->
%math.ent;


<!--                    NLM CITATION ELEMENT (deprecated)          -->
%nlmcitation.ent;


<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
%para.ent;


<!--                    PHRASE-LEVEL ELEMENTS                      -->
%phrase.ent;


<!--                    BIBLIOGRAPHIC REFERENCE (CITATION)
                        CLASS ELEMENTS                             -->
%references.ent;


<!--                    RELATED OBJECT ELEMENT                     -->
<!--                    Defines the <related-object> element to
                        describe a related object such as a
                        related book or a dataset.                 -->
%related-object.ent;


<!--                    SECTION ELEMENTS                           -->
%section.ent;


<!-- ============================================================= -->
<!--                    THE REST OF THE EXTERNAL MODULES INVOKED   -->
<!-- ============================================================= -->


<!--                    MATHML SETUP MODULE                        -->
<!--                    Invoke the MathML modules                  -->
%mathml3-mathmlsetup.ent;



<!--                    XHTML TABLE SETUP MODULE                   -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke XHTML (HTML 4.0) table
                        module                                     -->
%XHTMLtablesetup.ent;


<!--                    SPECIAL CHARACTERS DECLARATIONS            -->
<!--                    Standard XML special character entities
                        used in this DTD                           -->
%xmlspecchars.ent;


<!--                    CUSTOM SPECIAL CHARACTERS DECLARATIONS     -->
<!--                    Custom special character entities created
                        specifically for use in this DTD Suite     -->
%chars.ent;


<!--                    NOTATION DECLARATIONS MODULE               -->
%notat.ent;


<!-- ============================================================= -->
<!--                    BOOK-SPECIFIC ELEMENT MODULES INVOKED      -->
<!-- ============================================================= -->


<!--                    BITS BOOK METADATA ELEMENTS MODULE         -->
<!--                    Element declarations for BITS metadata
                        elements for books and book parts.         -->
%bookmeta.ent;


<!--                    BITS BOOK COMPONENT (BOOK-PART) ELEMENTS   -->
<!--                    Element declarations for <book-part>
                        element.                                   -->
%book-part.ent;


<!--                    BITS TOP-LEVEL BOOK-PART-WRAPPER           -->
<!--                    Element declarations for BITS top-level
                        <book-part-wrap> element.                  -->
%book-part-wrap.ent;


<!--                    BITS STRUCTURAL INDEX ELEMENTS MODULE      -->
<!--                    Element declarations for BITS structural
                        index model (<index>).                     -->
%index.ent;                                       


<!--                    BITS EMBEDDED INDEX ELEMENTS MODULE        -->
<!--                    Element declarations the index elements
                        which are embedded in the document 
                        narrative.                                 -->
%index-term.ent;


<!--                    BITS QUESTION AND ANSWER MODULE            -->
<!--                    Element declarations for BITS questions
                        and answers (not complete tests, but used
                        to put build quizzes and tests.            -->
%question-answer.ent;


<!--                    BITS STRUCTURAL TABLE OF CONTENTS MODULE   -->
<!--                    Element declarations for BITS navigation
                        and pointing mechanism for structural
                        Indexes and tables of Contents.            -->
%toc.ent;     


<!--                    BITS STRUCTURAL NAVIGATION MODULE          -->
<!--                    Element declarations for BITS navigation
                        and pointing mechanism for structural
                        Indexes and tables of Contents.            -->
%toc-nav.ent;


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    BOOK ATTRIBUTES                            -->
<!--                    Attributes for the top-level element
                        <book>                                     -->
<!ENTITY % pm-record-atts
           "%jats-common-atts;                                       
             record-type  CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           'en'
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %xinclude.xmlns.attrib;
             %Schema.xmlns.attrib;"                                  >

<!ENTITY % pm-record-set-atts
           "%XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %xinclude.xmlns.attrib;
             %Schema.xmlns.attrib;"                                  >

<!--                    BOOK ATTRIBUTES                            -->
<!--                    Attributes for the top-level element
                        <book>                                     -->
<!ENTITY % book-atts
           "%jats-common-atts;                                       
             book-type  CDATA                             #IMPLIED
             %dtd-version;
             indexed    (yes | no)                        #IMPLIED
             xml:lang   NMTOKEN                           'en'
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %xinclude.xmlns.attrib;
             %Schema.xmlns.attrib;"                                  >


<!--                    BACK ATTRIBUTES                            -->
<!--                    Attributes for the <book-back> element     -->
<!ENTITY % book-back-atts
           "%jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    BODY ATTRIBUTES                            -->
<!--                    Attributes for the <body> element          -->
<!ENTITY % book-body-atts
           "%jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED"  >


<!--                    BOOK METADATA ATTRIBUTES                   -->
<!--                    Attributes for the <book-meta> element     -->
<!ENTITY % book-meta-atts
           "%jats-common-atts;"                                          >                                        


<!--                    FRONT MATTER ATTRIBUTES                    -->
<!--                    Attributes for the <front-matter> element  -->
<!ENTITY % front-matter-atts
           "%jats-common-atts;"                                          >
            


<!-- ============================================================= -->
<!--                    PMFU ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    BOOK MODEL                                 -->
<!--                    Content model for the <book> element       -->
<!ENTITY % book-model   "(collection-meta*, book-meta?, 
                          front-matter?, book-body?, book-back?)"    >


<!ELEMENT  pm-record-set         (pm-record+)         >
<!ATTLIST  pm-record-set
            %pm-record-set-atts;                                       >

                                                             
<!ELEMENT  pm-record         (source-meta, document-meta?)         >
<!ATTLIST  pm-record
            %pm-record-atts;                                       >


<!-- ============================================================= -->
<!--                    BOOK METADATA                              -->
<!-- ============================================================= -->
                           
<!ENTITY % source.document-meta-model  
                        "(object-id*, subj-group*, title-group?,
                          issn*, issn-l?, isbn*, 
                          (%contrib-group.class;)*, pub-date*,   
                          publisher*, edition*, volume?, issue?,
                          ((fpage, lpage?, page-range?) | elocation-id)?,
                          pub-history*, permissions?,  
                          (%related-article.class;)*,
                          (%abstract.class;)*, trans-abstract*, 
                          (%kwd-group.class;)*,
                          funding-group*, conference*, counts?,
                          custom-meta-group*,
                          (%front-back.class;)* )"                   >






<!ELEMENT book-meta     EMPTY >

<!--                    BOOK METADATA MODEL                        -->
<!--                    Content model for the book metadata
                        element, which contains the metadata
                        elements applicable to the entire book.    -->
<!ENTITY % book-meta-model  
                        "(book-id*, subj-group*, book-title-group?,
                          (%contrib-group.class; |
                           %aff-alternatives.class; | %x.class;)*, 
                          author-notes?, pub-date*,
                          book-volume-number?, book-volume-id*, 
                          issn*, issn-l?, isbn*, 
                          publisher*, edition*,
                          supplementary-material*, 
                          pub-history*, permissions?, self-uri*, 
                          (%related-article.class;)*,
                          (%abstract.class;)*, trans-abstract*, 
                          (%kwd-group.class;)*,
                          funding-group*, conference*, counts?,
                          custom-meta-group*,
                          (%front-back.class;)* )"                   >


<!--                    BOOK METADATA (whole book)                 -->
<!--                    Within a <book>, such as a monograph, 
                        encyclopedia, or reference volume, 
                        etc., the <book-meta> contains the 
                        whole-book-level metadata elements such 
                        as book title, book identifier such as DOI,
                        series name, edition, ISBN, et al.
                        This element is a direct parallel to the 
                        <front> element in ANSI/NISO JATS.
                        Design Note: Everything is optional in this
                        model, in keeping with the design of JATS
                        Green, even an identifier and a title are
                        optional.                   
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-meta
                                                                   -->
<!ELEMENT  source-meta    %source.document-meta-model;                            >
<!ATTLIST  source-meta
            %book-meta-atts;                                         >
				
<!ELEMENT  document-meta    %source.document-meta-model;                     >
<!ATTLIST  document-meta
            %book-meta-atts;                                         >

<!ELEMENT source-id	(#PCDATA)								>
<!ATTLIST source-id	
			source-id-type		CDATA		#REQUIRED    
          %jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED  >
			
			

<!ELEMENT document-id	(#PCDATA)								>
<!ATTLIST document-id	
			document-id-type		CDATA		#REQUIRED    
          %jats-common-atts;                                        
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED  >
			


<!-- ============================================================= -->
<!--                    FRONT MATTER ELEMENTS                      -->
<!-- ============================================================= -->


<!--                    FRONT MATTER MODEL (narrative front)       -->
<!--                    Model for the <front-matter> element which
                        holds the narrative and graphical front
                        matter of a book or book-part, such as the
                        foreword or preface (and thus
                        NOT the book metadata).                    -->
<!ENTITY % front-matter-model  
                        "(%both-front-back.class; | 
                          %front-only.class; |  %front-back.class; |
                          %xinclude.class;)+"                        >


<!--                    FRONT MATTER                               -->
<!--                    Narrative introductory material such as
                        Preface, Foreword, Dedication,
                        Introduction to the Fifth Edition, etc.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=front-matter
                                                                   -->
<!ELEMENT  front-matter %front-matter-model;                         >
<!ATTLIST  front-matter
            %front-matter-atts;                                      >


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BOOK BODY MODEL                            -->
<!--                    Content model for the Book Body (main textual
                        content) of a monograph or other book.     -->
<!ENTITY % book-body-model   
                        "((%book-part.class;)+)"                     >


<!--                    BODY OF THE BOOK                           -->
<!--                    The main textual portion of the book, the
                        narrative as opposed to the metadata; contains
                        one or more <book-part>s.
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-body
                                                                   -->
<!ELEMENT  book-body    %book-body-model;                            >
<!ATTLIST  book-body
             %book-body-atts;                                        >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BOOK BACK MATTER MODEL                     -->
<!--                    Content model for the Book Back Matter element
                        which contains ancillary material such as 
                        reference lists and appendices for a book.
                        Note: as of 0.2 does NOT include <sig-block>.
                                                                   -->
<!ENTITY % book-back-model   
                        "(%back-only.class; | %book-part.class; | 
                          %both-front-back.class; | 
                          %front-back.class;)+"                      >



<!--                    BOOK BACK MATTER                           -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a
                        book, for example appendices and lists of
                        references.
                        At first inception, this element differed from
                        the <back> element in being able to contain
                        book parts (<book-part>). 
                        Details at:
                        http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=book-back
                                                                   -->
<!ELEMENT  book-back    %book-back-model;                            >
<!ATTLIST  book-back
             %book-back-atts;                                        >


<!-- ================== End BITS Book Interchange DTD ============ -->
